<div id="<%= dom_id comment %>">
  <p>
    <strong>Software:</strong>
    <%= comment.software_id %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= comment.buyer_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= comment.rating %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

</div>
