<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user.address %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= user.company_name %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= user.cnpj %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role  %>
  </p>

</div>
