<div id="<%= dom_id software %>">
  <p>
    <strong>Name:</strong>
    <%= software.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= software.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= software.status %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= software.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= software.category %>
  </p>

</div>
