<div id="<%= dom_id payment %>">
  <p>
    <strong>Software:</strong>
    <%= payment.software_id %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= payment.buyer_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= payment.price %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= payment.purchase_date %>
  </p>

</div>
