<div id="<%= dom_id enterprise %>">
  <p>
    <strong>Name:</strong>
    <%= enterprise.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= enterprise.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= enterprise.phone %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= enterprise.cnpj %>
  </p>

  <p>
    <strong>Seller:</strong>
    <%= enterprise.seller_id %>
  </p>

</div>
