<div class="progress mb-4" style="height: 30px;">
  <div class="progress-bar" role="progressbar" style="width: 99%;" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
    Etapa 3 de 3
  </div>
</div>

<h1 class="mb-4 text-center">Passo 3: Você precisa de suporte?</h1>

<%= form_with url: onboarding_recommendations_path, method: :post, local: true, class: "needs-validation", novalidate: true do |f| %>
  <style>
    .option-card-container {
      max-width: 800px;
      margin: 0 auto;
    }
    .option-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    max-width: 220px;
    margin: 15px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    min-height: 200px; /* Mantém altura fixa */
  }

  .option-card:hover {
    background-color: #e6f2ff;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .option-card.selected {
    outline: 2px solid #007bff; /* Evita mudar o tamanho do card */
    background-color: #e6f2ff;
  }

  .navigation-container {
      max-width: 800px;
      margin: 20px auto 0;
      display: flex;
      justify-content: space-between;
    }

  </style>
  
  <div class="container option-card-container">
    <div class="row justify-content-center">
      <div class="col-md-5 d-flex justify-content-center">
        <label class="card h-50 option-card" data-value="Sim">
          <div class="card-body text-center">
            <i class="fas fa-headset fa-2x mb-2 text-primary"></i>
            <h5 class="card-title">Suporte técnico</h5>
            <%= f.radio_button :answer3, "Sim", class: "d-none" %>
          </div>
        </label>
      </div>
      <div class="col-md-5 d-flex justify-content-center">
        <label class="card h-50 option-card" data-value="Não">
          <div class="card-body text-center">
            <i class="fas fa-times-circle fa-2x mb-2 text-primary"></i>
            <h5 class="card-title">Sem suporte técnico</h5>
            <%= f.radio_button :answer3, "Não", class: "d-none" %>
          </div>
        </label>
      </div>
    </div>
  </div>

  <div class="navigation-container">
    <%= link_to "Voltar", onboarding_step3_path, method: :delete, class: "btn btn-secondary btn-lg" %>
    <%= f.submit "Ver recomendações", class: "btn btn-primary btn-lg", id: "next-button", disabled: true %>
  </div>

<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll(".option-card").forEach(card => {
      card.addEventListener("click", function() {
        document.querySelectorAll(".option-card").forEach(c => c.classList.remove("selected"));

        this.classList.add("selected");

        const value = this.getAttribute("data-value");
        document.querySelector(`input[type='radio'][value='${value}']`).checked = true;

        document.getElementById("next-button").disabled = false;
      });
    });
  });
</script>
